/* Ajustes CSS */
body {
    margin-top: 100px;
    font-family: robotoregular,Arial,sans-serif;
}
.container-banner {
    margin-right: 10px; 
    margin-left: 10px;   
}
.title-container-fluid {
  background-color: #F0f3f3;
  border: 1px solid #dbdbdb;
  padding: 6px;
  margin: -20px -36px;
  border-radius: 5px;
}
.topMarginLine {
  /* position: relative; */
  margin-top: 3px !important;
  /* margin-bottom: 1px; */
}
 /* LOGIN  */
 /* ============================ */
.imageLogin {
  background-image: url('/assets/img/PeopleSocializing_min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
    width: 100%; 
    height: 100vh;
    margin-top: -110px;
    /* filter: grayscale(90%); */
}

.grey-text{
  padding: 0 30px; 
}

table.table td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.md-form .prefix {
  top: 0.75rem;
  font-size: 1.75rem;
}

/* FONTS */
/* ======================================= */
.eventFont{
  font-family: robotolight,Arial,sans-serif;
  font-size: 10px;

}
.tittleModalUser{
  font-family: roboto_condensedbold,Arial,sans-serif;
  font-size: 26px;
  display: block
}
.emailModalUser{
  font-family: robotolight,Arial,sans-serif;
  font-size: 16px;
  color:#233237;
  position: relative;
  top: -5px;
  margin-left: 21 px
}
.upperCaseFonts {
  text-transform: uppercase;
}
.fontLigth {
  font-family: robotolight,Arial,sans-serif;
  color: #000;
  margin-top: 10px;
}
.marginTextLeft  {
  margin-left: 50px;
}
.blue {
  background-color: #285078 !important
}
.iconAllowance {
  font-size: 20px;
}
.iconAllowance:hover {
  cursor:pointer;
}
.textBold {
  font-weight: 900;
  font-size: 16px;
}
.textForm {
  font-size: 15px;
  color: #48545B
}
.textAlert {
  font-size: 13px;
}
.fontEmphasis {
  font-size: 26px;
  color: #de411b;
}
.capitalizeName{
  text-transform: capitalize;
}
.strongEmphasis {
  font-size: 20px;
  font-weight: 900;
}
.maxAmount {
  font-size: 14px;
  color: #48545B;
  text-align: center;
  margin-top: 5px;
  display: block;
}
.greyColor {
  color: #233237
}
.greyColor:hover {  
  color: #48545B
}

.redColor {
  color: #c31900
}
.redColor:hover {
  color: #ec6861
}

.greenColor {
  color: #28a745
}
.greenColor:hover {
  color: #16cc40
}
.iconAvatar {
  font-size: 22px;
  margin-right: 7px;
}
/* TABLA  */
/* ========================================== */
table.table th {
  width: 108px;
  text-align: center;
  font-weight: bold;
  font-family: roboto_condensedbold,Arial,sans-serif;
}
table.table td {
  padding: 0px !important;
  text-align: center;
}
.widthTable {
  width: 95%
}
.whiteBorder{
  border: 1px solid white !important
}
/* GENERAL  */
/* ========================================== */
.separationClass {
  margin-top: -7px;
    margin-bottom: 2px;
    border-bottom: 2px solid #f7a1a1;
}
.title-container {
  background-color: #F0f3f3;
  border: 1px solid #dbdbdb;
  padding: 6px;
  margin: -20px -18px;
  border-radius: 5px;
}
.md-form {
  position: relative;
  margin-top: 3px;
  margin-bottom: 1px;
}
footer.page-footer {
  bottom: -30px;
  position: fixed;
  width: 100%;
}
footer.page-footer .footer-copyright {
  margin-top: -20px;
}
.newRequest {
  padding: .375rem .75rem .375rem .75rem;
  background: none;
  position: absolute;
  right: 0px;
  background-color: #fff;
  border: 1px solid #ced4da;
}
.fontDiscipline {
  font-size: 15px;
}
.imgStyle {
  object-fit: cover;
    min-height: 192px;
    max-height: 100%;
    background-color: grey;
    width: 100%;
    border-radius: 10px;
}
.imgProfile {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #9bb4be;
  -webkit-box-shadow: -1px 3px 23px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 23px -5px rgba(0,0,0,0.75);
box-shadow: -1px 3px 23px -5px rgba(0,0,0,0.75);
}
.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 30px;
    cursor: pointer;
}
.imgProfile:hover {
  -webkit-box-shadow: -1px 3px 23px -5px rgba(232,60,232,1);
-moz-box-shadow: -1px 3px 23px -5px rgba(232,60,232,1);
box-shadow: -1px 3px 23px -5px rgba(232,60,232,1);
}
.iconEditImg{
  /* con position absolute defino la posicion, en relacion al padre */
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 25px;
    background-color: #f4eeee;
    padding: 5px 11px;
    border-radius: 5px;
    border: 1px solid #ababab;
}
.iconEditImg:hover {
  background-color: #ffe6e5;
  cursor:pointer;
}
.parrafoModal {
  margin-top:-10px;
}
.btnModalB {
  padding: 12px 29px;
  cursor:pointer;
}
.minHeight {
  min-height: 240px;
}
.custom-select, .cursorPointer {
  cursor:pointer;
}
.pending {
  background-color: #9BB4BE !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 12 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.3rem 0.54rem;
    font-size: 0.81rem;
    min-width: 100px;
    border: solid 1px #9BB4BE !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}

.approved {
  background-color: #0AC3E6 !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 100px;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 12 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.3rem 0.54rem;
    font-size: 0.81rem;
    border: solid 1px #0AC3E6 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}

.rejected {
  background-color: #c31900 !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 100px;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 12 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.3rem 0.54rem;
    font-size: 0.81rem;
    border: solid 1px #c31900 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}
.rejectedBook {
  background-color: #c31900 !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 70px;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 12 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.10rem 0.29rem;
    font-size: 0.81rem;
    border: solid 1px #c31900 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}
.approvedBook {
  background-color: #0AC3E6 !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 100px;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 12 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.10rem 0.29rem;
    font-size: 0.81rem;
    border: solid 1px #0AC3E6 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}


.btnAllowance {
  margin-top: -50px;
}
.btnEv-red {
  background-color: #DE411B !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
    border:solid 1px #DE411B !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}
.btnEv-red:hover{
  background-color: #c73a1d !important;
}
.btnEv-red-md:hover{
  background-color: #c73a1d !important;
}
.btnEv-red-md {
  background-color: #DE411B !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.94rem 0.5rem;
    font-size: 0.81rem;
    border: solid 1px #DE411B !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}

.btnEv-blue {
  background-color: #379BD7!important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
    border:solid 1px #379BD7 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}
.btnEv-blue:hover{
  background-color: #285078 !important;
}

.btnEv-Transparent {
  background-color: transparent!important;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: none;
    padding: 0.1px 2.14rem;
    font-size: 0.81rem;
    border: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
    border-bottom: 1px solid #ced4da;
}
.btnEv-Transparent:hover{
  border-bottom: 1px solid #379BD7;
}


.btnEv-red {
  background-color: #DE411B !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
    border:solid 1px #DE411B !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}
.btnEv-grey:hover{
  background-color: #f0f3f3 !important;
}
.btnEv-grey-md:hover{
  background-color: #f0f3f3 !important;
}
.btnEv-grey-md {
  background-color: #9bb4be !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto_condensedbold,Arial,sans-serif;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.94rem 0.5rem;
    font-size: 0.81rem;
    border: solid 1px #9bb4be !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px !important;
}
.titleModule {
  text-align: center;
  font-size: 22px;
  padding-bottom: 15px;
  margin-top:-40px;
  font-family: robotobold;  
}
.card {
  background-color: #fdfdfd;
}

.transparenciaCard {
    background-color: #ffffffcf;
}
.card:hover{
  color:#48584B;
  box-shadow: 0 2px 5px 0 rgba(37, 16, 16, 0.568), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.bannerAllowance{
  margin-top: -70px;
  margin-bottom: 10px;
}
.btnModule {
    padding-bottom: 15px;
    width: 80px;
    border-radius: 10em;
}

.marginDemo {
    margin-top:10px;
}
.TextParrafo {
    text-align: left;
    font-family: robotolight,Arial,sans-serif;
}
 
/* === MENU  === */
  /* ========================================= */
 
.navbar {
    box-shadow:none;
    margin-bottom: 10px;
    background-color: rgba(250, 250, 250, 0.9);
}
.logo {
    padding-left: 36px;
    width: 182px;
}
.logoLogin{
  width: 182px;
}
.nav-item:hover {
    background-color: #ececec;
    /* transition: all 0.05s ease-in-out */
}

.transparentMenu {
  height: 1000px;
  max-height: 100%;
  background-color: #9e9e9e0a;
}


  /* === FICHA EFECT IMG + TEXT === */
  /* ========================================= */
  .Card-Img {
    z-index: -2;
    min-height: 396px;
  }
  .ajustImg {
    min-height: 188px;
  }
  .container-IMG {
    position: relative;
    width: 100%;
    padding: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .descriptionModule{
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: -10px;
  }
  .div-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
  }
  .div-img .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    min-height: 264px;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img .text {
    /* font-family: 'Open Sans'; */
    position: relative;
    z-index: -1;
    bottom: 72px;
    width: 45%;
    font-size: 1vw;
    display: block;
    text-align: center;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img:hover .img {
    transform: translate(0px, -30px) scale(0.5);
    -webkit-transform: translate(0px, -30px) scale(0.5);
    -moz-transform: translate(0px, -30px) scale(0.5);
    -o-transform: translate(0px, -30px) scale(0.5);
    -ms-transform: translate(0px, -30px) scale(0.5);
    border-radius: 50%;
  }
.radioBoton {
  margin-bottom: 28px;
  font-size: 18px;
  margin-left: 10px;
  cursor:pointer
}
.whiteFont {
  color:white !important;
}
.whiteFont:hover {
  color:white !important;
}

 /* === CALENDAR === */
 .bg-info {
  background-color: #17a2b8!important;
}
.viewEvent {
  font-size: 12px;
  background-color: #DE411B;
  color: white;
  border-radius: 8px;
  margin-bottom: 0px;
  margin-top: 2px;
  border: 1px solid white;
}
.classDay {
  font-size: 20px;
  padding: 4px 11px;
  border-radius: 50%;
  margin-top: 15px;
  display: block;
}
.classToday {
  font-size: 20px;
  background-color: #d8d8e8;
  padding: 10px 11px;
  margin: 0 35px;
  border-radius: 50%;
  margin-top: 15px;
  display: block;
}
#calendar-body > tr {
  height: 136px;
}
#calendar-body td:hover {
  background-color: #f0f3f3;
  cursor:pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.viewHB {
    background: url("/assets/img/backgroundHB.png") no-repeat center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   max-width: 100% ;
   text-align: center;
}
.textCenter {
  text-align: center;
}
.showHomeOffice {
  width: 90px;
  font-size: 10px;
  padding: 2px 7px;
  border-radius: 0px !important;
  margin-left: 2px;
  min-height: 43px;
}
.itemName {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  margin-left: 16px;
}
.divListAllowance {
  min-height: 144px;
  overflow: auto;
}
.hiddenDiv{
  display: none;
}
.card-header {
  background-color: #285078;
  color: white;
  border-bottom: 2px solid rgba(254, 254, 254, 1);
}

.pRequest {
    padding: 0;
    background: none;
    position: static;
    right: 0;
    height: 17px;
    font-size: 15px;
    margin-left: 27px;
    background-color: #fcfcfc26;
    border: none;
}
.newRequestBtn {
  padding: .375rem .75rem .375rem .75rem;
    background: none;
    background-color: #fff;
    border: 1px solid #ced4da;
}