/* ESTILOS DEL NAV  */
/* =========================================================== */
.nav {
  position: sticky;
  z-index: 1000;
  box-shadow: none;
  border-top: solid 5px rgba(255, 255, 255, 0.94);
  background-color: rgba(255, 255, 255, 0.94);
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition: border 0.5s ease-out;
  padding: 0px 100px;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #636363;
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
  color: #6b66b5 !important;
}
.navbar.navbar-dark .navbar-toggler {
  color: #636363 !important;
  font-size: 28px;
}

.navHome { /* Clase para cuando se encuentra el scroll en el top */
  position: sticky;
  z-index: 1000;
  box-shadow: none;
  border-top: solid 5px rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition: border 0.5s ease-out;
  padding: 0px 100px;
}
.logo {
  width: 180px;
}
/* ESTILOS DEL BANNER PRINCIPAL  */
/* =========================================================== */
.bannerHome {
  margin-top: -140px;
  box-shadow: none;
}

