@media screen and (max-device-width : 480px) {
    .logo {
        padding-left: 2px;
        width: 122px;
    }
    .container-banner {
        margin-right: 5px; 
        margin-left: 5px;   
    }
    .margenBottomMobile {
        margin-bottom: 15px;
    }
    .marginDemo {
        margin-top:4px;
    }
    .btnModule {
        margin-top:-35px;
    }
    .titleModule {
        padding-bottom: 15px;
        margin-top:-30px;
    }
    .imageLogin {
        background-image: url('/assets/img/PeopleSocializing_min.jpg');
    }
    .div-img .text {
        font-size: 2.6vw;
      }

    .grey-text{
        padding: 0 10px; 
    }
      .maxHeigthNav{
        max-height: none;
    }
    .widthTable {
        width: 100%
    }
    .bannerAllowance{
        margin-top: -30px;        
    }
    .HideMobile {
        display: none;
    }


    /* == CALENDARIO == */
    .classDay {
        font-size: 20px;
        padding: 4px 11px;
        border-radius: 50%;
        margin-top: 5px;
        display: block;
      }
      .classToday {
        font-size: 20px;
        background-color: #d8d8e8;
        padding: 10px 11px;
        margin: 0 5px;
        border-radius: 50%;
        margin-top: 5px;
        display: block;
      }
      .timeline__year{
        margin-bottom: 50px
    }
    .topMarginLine {
        /* position: relative; */
        margin-top: 18px !important;
        /* margin-bottom: 1px; */
    }
    .newRequest {
        position: relative;
    }
}
