@media screen and (max-device-width : 480px) {
    body {
        overflow-x: hidden;
    }
    .nav, .navHome {
        padding: 0px 16px !important;
    }
    .bannerHome {
        margin-top: -118px;
    }
    .jumbotronHome {
        margin-top: 35px;
        padding-right:0px;
        padding-left:0px;
        max-height: 100%;
    }
    .titleHome {
        font-size: 33px;
    }
    .footerEnviosHome {
        padding: 13px;
        padding-left: 20px;
        font-size: 18px;
        margin-bottom: 60px;
    }
    .fondoPunteado {
        display: none;
    }

    .level0, .level-1, .level-2 {
        display: none;
    }
    .level1 {
        height: 310px;
        width: 185px;
        line-height: 180px;
        border-radius: 15px;
        left: 190px;
        clip-path: inset(0px 80px 0px 0px);
    }
    .level2 {
        height: 310px;
        width: 185px;
        line-height: 150px;
        border-radius: 15px;
        left: 0px;
    }
    .navbarWhite {
        background-color: #fffffff6 !important;
        margin: 0 -15px !important;
        font-size: 18px !important;

    }
    /* AUTORES ========================  */
/* ==================================================== */
.autorsSection {
    margin-top:0px !important;
  }
  .cajaAutors {
    position: relative;
    margin-top:70px !important;
  }
  .imgAutors {
    width: 310px;
    height: auto;
    max-width: 100%;
    margin-left: 0px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    margin: 0 auto;
  }
  .titleAutors {
    top: -75px;
    margin-left: 0%;
    font-size: 68px;
  }
  .cajafrase {
    position: static;
    font-size:17px;
    width: 100%;
  }
  .autor {
    font-size: 23px;
  }
   
  .fraseIzq {
    
    position: static;
    top: -23px;
    left: -18px;
  } 
  /* INSTAGRAM ========================  */
/* ==================================================== */
.classInstagram1 {
    max-width: 100%;
    height: 385px;
    margin-bottom: 12px; 
    width: 10000px;
    margin-left: -5%;
  }
  .imgInstagram{
      display: none;
  }
}

