@media screen and (max-device-width : 480px) {
    .nav, .navHome {
        padding: 0px 16px !important;
    }
    .bannerHome {
        margin-top: -118px;
    }
    .jumbotronHome {
        margin-top: 35px;
        padding-right:0px;
        padding-left:0px;
        max-height: 100%;
    }
    .titleHome {
        font-size: 33px;
    }
    .footerEnviosHome {
        padding: 13px;
        padding-left: 20px;
        font-size: 18px;
        margin-bottom: 60px;
    }
}

